.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: min-content auto;
  grid-template-columns: min-content auto;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(56, 153, 156);
}
