.nav {
    grid-area: n;
    background-color: cornflowerblue;
}

.nav_item a, 
.nav_item a:visited  {
    color: white;
    border: none;
    text-decoration: none;
}

.nav_item a:hover {
    color: wheat;
    border: none;
    text-decoration: none;
}

.nav_item a:active {
    color:aqua;
}

.nav_item.active {
    color: goldenrod;
}