.dialogs {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 20px;
  
}

.dialogItems {
    margin: 10px;
  }
  
  .dialogItems  a {
    display: block;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    margin-top: 5px;
    border: 2px solid antiquewhite;
    border-radius: 15px;
    padding: 5px;
  }
  
  .dialogItems  a:active {
    color: gold;
  }

  .dialogItems a:hover {
    background-color: burlywood;
    color:aqua;
  }

.messages {
    margin: 5px;
    padding: 10px;
    border: 2px solid tomato;
    border-radius: 2px;
    background-color: aquamarine;
  }