.dialogs {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 20px;
  
}

.dialogItems {
    margin: 10px;
}

.dialogItems  a {
    color: whitesmoke;
    text-decoration: none;
}

.dialogItems  a:active {
    color: gold;
}

.dialog {
    margin-top: 5px;
    border: 2px solid antiquewhite;
    border-radius: 25px;
    padding: 5px;
}

.dialog:hover {
  background-color: burlywood;
}

.messages {
    margin: 5px;
    padding: 10px;
    border: 2px solid tomato;
    border-radius: 2px;
    background-color: aquamarine;
}

.message {
    margin: 5px;
    padding: 10px;
    border: 2px solid fuchsia;
    border-radius: 15px;
    background-color: azure;
}